:root {
  --accessibility: #337ab7;
  --nav-black: #a1a1a1;
  --message-blue: #52a7fe;
  --message-text: #333;
  --services-heading: #313131;
  --services-text: #ff0033;
  --units-heading: #fd7331;
  --units-border: #2e2951;
  --units-text: #555;
  --sitemap-black: #2d2d2d;
  --sitemap-text: #c4c4c4;
  --footer-black: #1e1e1e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-size: 15px;
  font-family: 'Roboto', Arial, sans-serif;
}

.ml-2 {
  margin-left: 1rem;
}

.mr-1 {
  margin-right: 0.5rem;
}

.mr-2 {
  margin-right: 1rem;
}

.mr-3 {
  margin-right: 1.5rem;
}

.d-flex {
  display: flex;
}

#accessibility {
  justify-content: center;
  color: var(--accessibility);
  margin-top: 0.5rem;
}

#accessibility div {
  cursor: pointer;
}

#font-controls {
  color: var(--message-text);
}

.mode {
  background-color: var(--message-text);
  color: #fff;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

#light-mode {
  background-color: #cecece;
  color: var(--message-text);
}

#navbar {
  margin: 1rem 0 1rem 9rem;
}

#nav-items {
  align-items: center;
  text-transform: uppercase;
  font: 700 0.8rem 'Montserrat', Arial, sans-serif;
  margin-left: 3rem;
}

#nav-items div {
  margin-left: 1.2rem;
  cursor: pointer;
}

