:root {
  --accessibility: #337ab7;
  --nav-black: #a1a1a1;
  --message-blue: #52a7fe;
  --circle-gray: #cecece;
  --message-text: #333;
  --services-heading: #313131;
  --services-text: #ff0033;
  --units-heading: #fd7331;
  --units-border: #2e2951;
  --units-text: #555;
  --sitemap-black: #2d2d2d;
  --sitemap-text: #c4c4c4;
  --footer-black: #1e1e1e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-size: 15px;
  font-family: 'Roboto', Arial, sans-serif;
}

.ml-2 {
  margin-left: 1rem;
}

.mr-1 {
  margin-right: 0.5rem;
}

.mr-2 {
  margin-right: 1rem;
}

.mr-3 {
  margin-right: 1.5rem;
}

.d-flex {
  display: flex;
}

#accessibility {
  justify-content: center;
  color: var(--accessibility);
  margin-top: 0.5rem;
}

#accessibility div {
  cursor: pointer;
}

#font-controls {
  color: var(--message-text);
}

.mode {
  background-color: var(--message-text);
  color: #fff;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

#light-mode {
  background-color: var(--circle-gray);
  color: var(--message-text);
}

#navbar {
  margin: 1rem 0 1rem 9rem;
}

#nav-items {
  align-items: center;
  text-transform: uppercase;
  font: 700 0.8rem 'Montserrat', Arial, sans-serif;
  margin-left: 3rem;
}

#nav-items div {
  margin-left: 1.2rem;
  cursor: pointer;
}

#carousel {
  position: relative;
  width: 100%;
}

#carousel img {
  width: 100%;
  height: auto;
}

#carousel-controls {
  position: absolute;
  display: flex;
  top: 50%;
  width: 100%;
  justify-content: space-between;
  padding: 0 1rem;
}

#carousel-controls i {
  opacity: 0.3;
  transition: all 0.5s linear;
}

#carousel-controls i:hover {
  opacity: 0.8;
  transform: scale(1.2);
}

#carousel-controls div {
  cursor: pointer;
}

#circles {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 5%;
}

.circle {
  background-color: var(--message-text);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 0.5rem;
  cursor: pointer;
}

.active-circle {
  background-color: var(--circle-gray);
}

#dgp-message {
  background-color: var(--message-blue);
  margin-top: -0.3rem;
  padding: 2rem 6rem;
}

#message {
  margin-left: 10rem;
  text-align: justify;
}

#message-title {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-shadow: 0 3px 1px #efefefb3;
}

#message p {
  margin-bottom: 1rem;
  font-weight: 300;
}