:root {
  --accessiblity: #337ab7;
  --nav-black: #a1a1a1;
  --message-blue: #52a7fe;
  --message-text: #333;
  --services-heading: #313131;
  --services-text: #ff0033;
  --units-heading: #fd7331;
  --units-border: #2e2951;
  --units-text: #555;
  --sitemap-black: #2d2d2d;
  --sitemap-text: #c4c4c4;
  --footer-black: #1e1e1e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-size: 15px;
  font-family: 'Roboto', Arial, sans-serif;
}

